<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="css/all.css">
	<link rel="stylesheet" href="css/temp.css">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>

	<div class="slider">

		<div class="game_card">
			<div class="image">
				<img src="img/game1.png" alt="">
				<div class="hoverlay">
					<div class="demo_caption">demo</div>
					<div class="favorite"></div>
					<div class="play_button"></div>
				</div>
			</div>
			<div class="text_block">
				<div class="caption">Charms & Clovers</div>
				<div class="caption2">Provider name</div>
			</div>
		</div>

		<div class="game_card">
			<div class="image">
				<img src="img/game2.png" alt="">
				<div class="hoverlay">
					<div class="demo_caption">demo</div>
					<div class="favorite"></div>
					<div class="play_button"></div>
				</div>
			</div>
			<div class="text_block">
				<div class="caption">Charms & Clovers</div>
				<div class="caption2">Provider name</div>
			</div>
		</div>

		<div class="game_card">
			<div class="image">
				<img src="img/game3.png" alt="">
				<div class="hoverlay">
					<div class="demo_caption">demo</div>
					<div class="favorite"></div>
					<div class="play_button"></div>
				</div>
			</div>
			<div class="text_block">
				<div class="caption">Charms & Clovers</div>
				<div class="caption2">Provider name</div>
			</div>
		</div>

		
		<div class="game_card">
			<div class="image">
				<img src="img/game4.png" alt="">
				<div class="hoverlay">
					<div class="demo_caption">demo</div>
					<div class="favorite"></div>
					<div class="play_button"></div>
				</div>
			</div>
			<div class="text_block">
				<div class="caption">Charms & Clovers</div>
				<div class="caption2">Provider name</div>
			</div>
		</div>


		
		<div class="game_card">
			<div class="image">
				<img src="img/game5.png" alt="">
				<div class="hoverlay">
					<div class="demo_caption">demo</div>
					<div class="favorite"></div>
					<div class="play_button"></div>
				</div>
			</div>
			<div class="text_block">
				<div class="caption">Charms & Clovers</div>
				<div class="caption2">Provider name</div>
			</div>
		</div>


	</div>

	


	<style>

		/*  ANIMATIONS  */
		.game_card .hoverlay {
			transition: all .6s;
		}
		.game_card:hover .hoverlay {
			opacity: 1;
		}
		.game_card {
			box-shadow: 0px 0px 20px 0px #00000000;
			transition: all .6s;
		}
		.game_card:hover {
			transform: scale(1.15);
			box-shadow: 0px 0px 20px 0px #00000080;
			z-index: 9;
			filter: blur(0);
		}
		.slider:hover .game_card:not(:hover) {
			filter: blur(3px);
		}


	</style>
</body>
</html>