.lootbox {
  --animation-duration: .45s;
  position: relative;
  width: 220px;
  height: 250px;
  cursor: pointer;
  transition: all .4s;
}
.disabled {
  pointer-events: none;
  filter: saturate(.1);
}
.animated {
  pointer-events: 1none;
}
.lootbox img {
  position: absolute;
  transform-origin: bottom center;
}
.closed {
  bottom: 0;
  left: 36px;
}
.opened1 {
  bottom: 0;
  left: 8px;
  opacity: 0;
}
.opened2 {
  top: 0;
  left: 64px;
  opacity: 0;
}
.text {
  position: absolute;
  left: 105px;
  top: 135px;
  opacity: 0;
  transform-origin: 0 0;
  
  display: flex;
  justify-content: center;
  align-items: center;
}
.confetti {
  left: -60px;
  top: -90px;
  opacity: 0;
}


.animated .closed {
  animation: step1 var(--animation-duration) forwards ease-in-out;
}
.animated .opened1 {
  animation: step2-1 var(--animation-duration) forwards ease-out var(--animation-duration);
}
.animated .opened2 {
  animation: step2-2 calc(var(--animation-duration) * .5) forwards ease-out var(--animation-duration),
  idle-anim2 calc(var(--animation-duration) * 3) infinite ease-in-out alternate calc(var(--animation-duration) * .7);
}
.animated .text {
  animation: step2-3 var(--animation-duration) forwards ease-out var(--animation-duration),
  idle-anim3 calc(var(--animation-duration) * 3) infinite ease-in-out alternate calc(var(--animation-duration) * .7);
}
.animated .confetti {
  animation: cofetti-anim calc(var(--animation-duration) * 2) forwards ease-out calc(var(--animation-duration) * .5);
}
.closed {
  animation: idle-anim calc(var(--animation-duration) * 3) infinite alternate ease-in-out;
}
@keyframes idle-anim {
  to {
    transform: translateY(-5px);
  }
}
@keyframes step1 {
  20% {
    opacity: 1;
    transform: scaleY(1.2) scaleX(.86) translateY(-45px);
  }
  55% {
    transform: scaleY(1.1) scaleX(.9) translateY(-45px) rotate(-5deg);
  }
  99% {
    opacity: 1;
    transform: scaleY(.9) scaleX(1.5) translateY(-35px) rotate(5deg);
  }
  100% {
    opacity: 0;
  }
}
@keyframes step2-1 {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 1;
    transform: scaleX(.4) translateY(-70px);
  }
  20% {
    transform: scaleX(1.07) translateY(-60px);
    transform-style: easy-out;
  }
  60% {
    transform: scaleX(1) translateY(0px);
  } 
  100% {
    opacity: 1;
    transform: scaleX(1) translateY(-5px);
  }
}
@keyframes step2-2 {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 1;
    transform: scaleX(1.2) translateY(30px) rotate(-12deg);
    transform-style: easy-out;
  }
  60%, 100% {
    opacity: 1;
    transform: scaleX(1) translateY(5px) translateX(10px) rotate(0);
  }
}
@keyframes step2-3 {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 1;
    transform: scale(0) translateY(40px);
    transform-style: easy-out;
  }
  70% {
    transform: scale(1.02);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
@keyframes idle-anim2 {
  to {
    transform: translateY(0px) translateX(14px) rotate(3deg);
  }
}
@keyframes idle-anim3 {
  to {
    transform: rotate(-5deg) scale(1.16);
  }
}
@keyframes cofetti-anim {
  0% {
    opacity: 0;
    transform: scale(0) translateY(-250px);
  }
  10%, 50% {
    opacity: 1;
  }
  50% {
    transform: scale(.5) translateY(-120px);
  }
  100% {
    transform: scale(.8) translateY(0px);
    opacity: 0;
  }
}
